#choices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#choices #menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  height: 100px;
}

#choices #menu > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
  height: 75px;
}

#choices #menu > div:last-of-type {
  margin-right: 0;
}

#choices #home {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 0;
      -ms-flex: 3 0 0;
          flex: 3 0 0;
  background-color: #CE1379;
  width: 100%;
  font-size: 32px;
  -webkit-transition: opacity 2s ease-in-out;
          transition: opacity 2s ease-in-out;
}

#choices #back {
  -webkit-box-flex: 3;
  -webkit-flex: 3 0 0;
      -ms-flex: 3 0 0;
          flex: 3 0 0;
  background-color: #d9b3ff;
  width: 100%;
  font-size: 32px;
  -webkit-transition: opacity 2s ease-in-out;
          transition: opacity 2s ease-in-out;
}

#choices #previous-choice {
  text-transform: uppercase;
  font-size: 24px;
  height: 40px;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 120px;
}

#choices #edit {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  background-color: #FF9317;
  width: 100%;
  font-size: 22px;
}

#choices .choice.no-more-choices {
  border-color: white;
}

#choices #choices-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 1;
}

#choices .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 0;
      -ms-flex: 2 0 0;
          flex: 2 0 0;
}

#choices .row:first-of-type {
  margin-top: 0;
}

#choices .row:last-of-type {
  margin-bottom: 20px;
}

#choices .row.center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  z-index: 2;
}

#choices .choice {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  margin-left: 40px;
  margin-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid black;
}

#choices .choice.editing:hover {
  opacity: 1;
}

#choices #choice-1 {
  background-color: rgba(8, 134, 231, 0.3);
}

#choices #choice-2 {
  background-color: rgba(255, 229, 0, 0.7);
}

#choices #choice-3 {
  background-color: rgba(0, 255, 0, 0.5);
}

#choices #choice-4 {
  background-color: rgba(255, 51, 51, 0.5);
}

#choices #choice-5 {
  background-color: #FDAF6E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  min-height: 150px;
}

#choices .choice-text {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

#choices .transitioning {
  -webkit-animation: fade 2s linear;
          animation: fade 2s linear;
}

@-webkit-keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}

@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}
body {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button, .button > div {
  cursor: pointer;
}

.button.disabled, .button.disabled > div {
  opacity: 0.4;
  cursor: default;
}

.hidden {
  display: none;
}