#choices {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#choices .row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 0 0;
}

#choices .choice {
  flex: 1 0 0;
  margin-left: 10px;
  margin-right: 10px;
}

#choices #choice-1 {
  background-color: red;
}

#choices #choice-2 {
  background-color: yellow;
}

#choices #choice-3 {
  background-color: green;
}

#choices #choice-4 {
  background-color: blue;
}
