#choices {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#choices .row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 0 0;
}

#choices .choice {
  flex: 1 0 0;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#choices #choice-1 {
  background-color: #ff3333;
}

#choices #choice-2 {
  background-color: #ffcc33;
}

#choices #choice-3 {
  background-color: #33ff33;
}

#choices #choice-4 {
  background-color: #3399ff;
}

#choices .choice-text {
  font-size: 36px;
  text-align: center;
}
