body {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  user-select: none;
}

.button, .button > div {
  cursor: pointer;
}

.button.disabled, .button.disabled > div {
  opacity: 0.4;
  cursor: default;
}

.hidden {
  display: none;
}