#choices {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#choices #menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  height: 100px;
}

#choices #menu > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 75px;
}

#choices #menu > div:last-of-type {
  margin-right: 0;
}

#choices #home {
  flex: 3 0 0;
  background-color: #CE1379;
  width: 100%;
  font-size: 32px;
  transition: opacity 2s ease-in-out;
}

#choices #back {
  flex: 3 0 0;
  background-color: #d9b3ff;
  width: 100%;
  font-size: 32px;
  transition: opacity 2s ease-in-out;
}

#choices #previous-choice {
  text-transform: uppercase;
  font-size: 24px;
  height: 40px;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
}

#choices #edit {
  flex: 1 0 0;
  background-color: #FF9317;
  width: 100%;
  font-size: 22px;
}

#choices .choice.no-more-choices {
  border-color: white;
}

#choices #choices-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 1;
}

#choices .row {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 2 0 0;
}

#choices .row:first-of-type {
  margin-top: 0;
}

#choices .row:last-of-type {
  margin-bottom: 20px;
}

#choices .row.center {
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  z-index: 2;
}

#choices .choice {
  position: relative;
  flex: 1 0 0;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

#choices .choice.editing:hover {
  opacity: 1;
}

#choices #choice-1 {
  background-color: rgba(8, 134, 231, 0.3);
}

#choices #choice-2 {
  background-color: rgba(255, 229, 0, 0.7);
}

#choices #choice-3 {
  background-color: rgba(0, 255, 0, 0.5);
}

#choices #choice-4 {
  background-color: rgba(255, 51, 51, 0.5);
}

#choices #choice-5 {
  background-color: #FDAF6E;
  display: flex;
  max-width: 400px;
  min-height: 150px;
}

#choices .choice-text {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

#choices .choice-audio {
  font-size: 32px;
  position: absolute;
  left: 0;
  margin: 5px;
  width: 40px;
  transition: font 1s ease-out;
}

#choices .choice-audio.editing {
  font-size: 64px;
}

#choices .choice-audio * {
  pointer-events: none;
}

#choices .choice-audio .hidden {
  display: none;
}

#choices .transitioning {
  animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}
