#choices {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#choices #left-column {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

#choices #left-column > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

#choices #left-column > div:last-of-type {
  margin-bottom: 0;
}

#choices #home {
  flex: 4 0 0;
  background-color: #CE1379;
  width: 100%;
  font-size: 32px;
  transition: opacity 2s ease-in-out;
}

#choices #back {
  flex: 4 0 0;
  background-color: #d9b3ff;
  width: 100%;
  font-size: 32px;
  transition: opacity 2s ease-in-out;
}

#choices #center-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#choices #previous-choice {
  text-transform: uppercase;
  font-size: 32px;
}

#choices #edit {
  flex: 1 0 0;
  background-color: #FF9317;
  width: 100%;
  font-size: 22px;
}

#choices .choice.no-more-choices {
  border-color: white;
}

#choices #choices-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 1;
}

#choices .row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1 0 0;
}

#choices .choice {
  flex: 1 0 0;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

#choices .choice.editing:hover {
  opacity: 1;
}

#choices #choice-1 {
  background-color: rgba(8, 134, 231, 0.3);
}

#choices #choice-2 {
  background-color: rgba(255, 229, 0, 0.7);
}

#choices #choice-3 {
  background-color: rgba(0, 255, 0, 0.5);
}

#choices #choice-4 {
  background-color: rgba(255, 51, 51, 0.5);
}

#choices .choice-text {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
}

#choices .transitioning {
  animation: fade 2s linear;
}

@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}
